{% extends 'layout.html' %}
{% block content %}
<!-- 내용 -->
<div id="content">
    <div id="mypage_image_area">
        <div class="profile_area">
            <img class="profile_img" src="{{ url_for('static', filename='img/profile.jpeg') }}" alt="프로필 사진">
            <h2 class="profile_mesg">헬린이</h2>
        </div>
    </div>
    <!-- 개인정보 입력 -->
    <div id="personal_info_reg"></div>
    <!-- 오늘의 식단 입력 -->
    <div id="today_meal">
        <h2>식단 등록<span id="date_select"></span>
        </h2>
        <hr>
        <div id="today_meal_list">
            <table class="table">
                <caption></caption>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">식단</th>
                        <th class="meal_time" scope="col">시간</th>
                    </tr>
                </thead>
                <tbody id="meal_list">

                </tbody>
            </table>
        </div>
        <div id="today_meal_reg">
            <button type="button" id="reg-meals" class="btn btn-success" data-toggle="modal"
                data-target="#ModalReg">식단등록</button>
        </div>
    </div>
</div>
</div>
<!-- 오늘 할 운동 등록-->
<div id="today_ex_reg">
    <h2>오늘의 운동</h2>
    <div class="exer_list">
        <div class="form-check check_exer">
            <input class="form-check-input" type="checkbox" id="gridCheck1">
            <label class="form-check-label" for="gridCheck1">
            </label>
        </div>
        <img class="img-fluid z-depth-1" src="{{ url_for('static', filename='img/arm.png') }}" alt="팔운동"
            data-toggle="modal" data-target="#modal1">
    </div>
    <div class="exer_list">
        <div class="form-check check_exer">
            <input class="form-check-input" type="checkbox" id="gridCheck2">
            <label class="form-check-label" for="gridCheck2">
            </label>
        </div>
        <img class="img-fluid z-depth-1" src="{{ url_for('static', filename='img/back.png') }}" alt="등운동"
            data-toggle="modal" data-target="#modal1">
    </div>
    <div class="exer_list">
        <div class="form-check check_exer">
            <input class="form-check-input" type="checkbox" id="gridCheck3">
            <label class="form-check-label" for="gridCheck3">
            </label>
        </div>
        <img class="img-fluid z-depth-1" src="{{ url_for('static', filename='img/chest.png') }}" alt="가슴운동"
            data-toggle="modal" data-target="#modal1">
    </div>
    <div class="exer_list">
        <div class="form-check check_exer">
            <input class="form-check-input" type="checkbox" id="gridCheck4">
            <label class="form-check-label" for="gridCheck4">
            </label>
        </div>
        <img class="img-fluid z-depth-1" src="{{ url_for('static', filename='img/leg.png') }}" alt="다리운동"
            data-toggle="modal" data-target="#modal1">
    </div>
    <div class="exer_list">
        <div class="form-check check_exer">
            <input class="form-check-input" type="checkbox" id="gridCheck5">
            <label class="form-check-label" for="gridCheck5">
            </label>
        </div>
        <img class="img-fluid z-depth-1" src="{{ url_for('static', filename='img/shoulder.png') }}" alt="어깨운동"
            data-toggle="modal" data-target="#modal1">
    </div>
    <div class="reg-exerise">
        <button type="button" id="reg-exer" onclick="addExer()" class="btn btn-success">운동등록</button>
    </div>

</div>
</div>

<div class="modal fade" id="ModalReg" tabindex="-1" role="dialog" aria-labelledby="ModalReg" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">음식정보 등록</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="modal-body-form">
                    <input type="hidden" id="chg-date" name="chg-date">
                    <div class="input-group">
                        <input type="text" id="reg-time-hour" onkeyup="timeHourCheck(this)" class="form-control"
                            value="00">
                        <label for="reg-time-hour" class="time-hour col-form-label">시</label>
                        <input type="text" id="reg-time-mins" onkeyup="timeMinsCheck(this)" class="form-control"
                            value="00">
                        <label for="reg-time-mins" class="time-mins col-form-label">분</label>
                    </div>
                    <div id="foods-group"></div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="init-btn">
                    <button type="button" onclick="initNumbers()" class="btn btn-success">음식정보 초기화</button>
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                <button type="button" id="add-meal-btn" class="btn btn-primary" onclick="addMeals()">식단 저장</button>
                <button style="display: none" type="button" id="chg-meal-btn" class="btn btn-warning" onclick="chgMeals()">식단 변경</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}